{% include 'navbar.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 400px; margin-top: 80px;">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Reset Password</h3>

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary btn-block">Send Reset Email</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
